/* Element Selectors */

body, article, section, div {
  border: dashed;
  border-width: .2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #A8DADC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  
}

/* Class Selectors */

.icon { 
  width: 2rem;
}

.poster {
  width: 18.5rem;
  height: 10rem;
  opacity: 80%;
}

.shared-movies {
  background-color: #E63946;
}

.top--grid {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}

.bottom--grid {
  display: flex;
  justify-content: space-between;
}

.box {
  /* background-color: rgba(79, 91, 102, .5); */
  width: 8rem;
  height: 8rem;
  padding: 6rem;
  display: flex;
}

.mini-box {
  background-color: #457B9D;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  height: 15rem;
  margin: 3rem;
}

.box-images,
.poster,
.recipeint-name,
.date,
.playlist,
.playlist-name,
.attachments,
.attachment-number {
  position: relative;
  top: 0;
  left: 0;
}

.share,
.views,
.view-count {
  position: absolute;
}

.share {
  width: 4.5rem;
  bottom: 5.5rem;
}

.views {
  bottom: 8.5rem;
  left: 15rem;
}

.view-count {
  bottom: 6rem;
  left: 15.7rem;
}

.recipeint-name,
.date,
.playlist,
.playlist-name,
.attachments,
.attachment-number {
  left: 1rem;
  margin: .5rem;
}

.box-link {
  display: flex;
  justify-content: center;
}

.link {
  background-color: lightgray;
  opacity: 60%;
  padding: .75rem;
}

.box-footer {
  background-color: #457B9D;
}
